
exec joystick.cfg
exec autoexec.cfg
exec customization.cfg

stuffcmds
startupmenu
sv_unlockedchapters 99

hud_reloadscheme

wait 5; showconsole; wait; incrementvar mat_antialias -100 100 1; hideconsole; wait 5; incrementvar mat_antialias -100 100 -1